.card {
  padding-bottom: 24px;
  transition: background-color 0.5s linear, transform 0.5s linear;

  &:hover {
    cursor: pointer;
    position: relative;
    background-color: lighten(#59bd5a, 10%);
    transform: scale(1.1);
    z-index: 1;
  }

  &__section-shop {
    font-size: 16px;
    color: #1d1d1d;
    margin-top: 20px;
  }

  &__section-meal {
    font-size: 14px;
    margin-top: 10px;
  }

  &__delivery {
    font-size: 13px;
    color: #1d1d1d;
    margin-top: 10px;
  }

  &__img {
    width: 100%;
  }
}
