.container {
  width: 956px;
  position: relative;

  &-flex {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &--footer {
    margin-top: 50px;
    padding: 56px 8px 0;
  }

  &--after-gray::after {
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #757575;
    mix-blend-mode: normal;
    opacity: 0.3;
  }

  &--after-white::after {
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    mix-blend-mode: normal;
    opacity: 0.3;
  }

  &-flex--dark-back {
    background: #262626;
  }
}
